<div id="background__header"></div>
<div id="background__body"></div>
<div id="chat__container">
    <!-- Chat sidebar -->
   <chit-chat-side-bar (conversationClicked)="conversationSelected($event)"></chit-chat-side-bar>
    <!-- /Chat sidebar -->
    <div class="chat">
        <div class="no__chat__content" *ngIf="!conversation">
            <span>No conversation</span>
        </div>

        <chit-chat-chat-inbox *ngIf="conversation"></chit-chat-chat-inbox>
    </div>
</div>

<router-outlet></router-outlet>
